/* GLOBAL */
* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
html,
#root {
  height: 100%;
}

.btn-primary {
  background-color: #ff9955 !important;
  border-color: #ff9955 !important;
}

.btn-outline-primary {
  color: #343a84 !important;
  border-color: #343a84 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #343a84 !important;
  border-color: #343a84 !important;
}

.col-center {
  text-align: center;
}

/* NAV */
.navbar {
  padding: 0.1rem 1rem !important;
  background-color: white !important;
}

.login-btn,
.logout-btn {
  margin-left: 10px;
}

a.nav-link.active {
  color: rgba(0, 0, 0, 0.55) !important;
}

/* INTRO */
.intro-card {
  margin-top: 200px;
  margin-left: 50px;
}

.intro-card .card-title {
  padding: 2rem 0;
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 15px;
  color: #1a0f91;
}

.question {
  background-color: yellow;
  width: 70%;
  margin-bottom: 25px;
}

#intro-img {
  width: 100%;
  margin-top: 125px;
}

#intro .jumbotron h1 {
  padding: 2rem 0;
  margin-top: 140px;
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 15px;
  color: #1a0f91;
}

/* ABOUT */
#about {
  margin-top: 150px;
}

#about-img {
  width: 100%;
}

#about h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

/* HOW IT WORKS */
#how {
  margin-top: 200px;
}

#how h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
  margin-bottom: 50px;
}

#collect-img,
#process-img,
#report-img {
  width: 175px;
}

#examine-img {
  width: 200px;
}

div.how-content.row {
  margin-top: 50px;
}

/* TOOLS */
#tools {
  margin-top: 200px;
}

#tools h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

#analysis-img {
  width: 100%;
}

/* CONTACT */
#contact {
  margin-top: 200px;
}

#contact h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

#contact-img {
  width: 100%;
}

/* LOGIN */
#login {
  margin-top: 50px;
}

#login h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
  margin-top: 100px;
}

#login form {
  margin-top: 20px;
}

#login img {
  width: 100%;
}

#login .form-wrapper {
  padding: 0px 100px;
}

/* REGISTER */
#register {
  margin-top: 75px;
}

#register h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
  margin-top: 75px;
}

#register img {
  width: 100%;
}

/* DASHBOARD */
#dashboard {
  margin-top: 100px;
}

/* EXPLORE */
#explore {
  margin-top: 100px;
}

/* PROFILE */
#profile {
  margin-top: 100px;
}

/* QUANTIFY */
#quantify {
  margin-top: 100px;
  padding-bottom: 100px;
}

#quantify img {
  width: 100%;
}

#quantify h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

#quantify .card {
  width: 525px;
  margin-top: 25px;
}

#quantify .radio-mood {
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  padding: 6px 7px 6px 7px;
  border: 1px solid lightgray !important;
}

#quantify .radio-location {
  padding-left: 29px;
  padding-right: 29px;
}

#quantify .radio-location p {
  margin-bottom: 0px;
  font-size: 0.9rem !important;
}

#quantify .radio-people {
  padding-left: 18px;
  padding-right: 18px;
}

#quantify .radio-people p {
  margin-bottom: 0px;
  font-size: 0.9rem !important;
}

#quantify span {
  margin-left: 5px;
}

#quantify .btn-secondary {
  background-color: #4042e2 !important;
  border-color: darkblue !important;
}

#quantify .btn-secondary:hover {
  background-color: darkblue !important;
}

#quantify .btn-check:checked + .btn-secondary,
#quantify .btn-secondary:active {
  background-color: darkblue !important;
}

#quantify .btn-secondary:focus,
#quantify .btn-check:checked + .btn-secondary:focus,
#quantify .btn-check:focus + .btn-secondary {
  box-shadow: none !important;
}

#quantify .card-header {
  text-align: right;
  background-color: #e4eafe;
  color: #91b3fa;
}

#quantify .list-group-item {
  background-color: ghostwhite;
}
