/* GLOBAL */
* {
  font-family: 'Open Sans', sans-serif;
}

body,
html,
#root {
  height: 100%;
}

.btn-primary {
  background-color: #ff9955 !important;
  border-color: #ff9955 !important;
}

.btn-outline-primary {
  color: #343a84 !important;
  border-color: #343a84 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #343a84 !important;
  border-color: #343a84 !important;
}

/* NAV */
.navbar {
  padding: 0.1rem 1rem !important;
  background-color: white !important;
}

.login-btn {
  margin-left: 10px;
}

/* INTRO */
.jumbotron {
  background-color: white !important;
}

.question {
  background-color: yellow;
  width: 70%;
  margin-bottom: 25px;
}

#intro-img {
  width: 100%;
  margin-top: 125px;
}

#intro .jumbotron h1 {
  padding: 2rem 0;
  margin-top: 140px;
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 15px;
  color: #1a0f91;
}

/* ABOUT */
#about {
  margin-top: 150px;
}

#about-img {
  width: 100%;
}

#about h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

/* HOW IT WORKS */
#how {
  margin-top: 200px;
}

#how h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
  margin-bottom: 50px;
}

#collect-img,
#process-img,
#report-img {
  width: 175px;
}

#examine-img {
  width: 200px;
}

.col-center {
  text-align: center;
}

/* TOOLS */
#tools {
  margin-top: 200px;
}

#tools h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

#analysis-img {
  width: 100%;
}

/* CONTACT */
#contact {
  margin-top: 200px;
}

#contact h1 {
  font-size: 4.3rem;
  font-family: 'Libre Baskerville', serif;
  color: #1a0f91;
}

#contact-img {
  width: 100%;
}
